.input-base {
  display: flex;

  label {
    font-weight: bold;
  }
}

.input-base-normal {
  flex-direction: column;

  .p-inline-message {
    justify-content: left;
  }
}

.input-base-row {
  flex-direction: row;

  p {
    justify-content: left;
    margin: 0 0 0 15px;
  }
}
